/Урок 1. Алгоритм линейной регрессии. Градиентный спуск/
/Урок 2. Масштабирование признаков. L1- и L2-регуляризация. Стохастический градиентный спуск/
/Доп.литература.zip
/Урок 3. Логистическая регрессия. Log Loss/
